# üêº Pandas Example - Stack Overflow Survey

In [1]:
import pandas as pd
pd

In [4]:
# loading in the stack overflow survey data
survey = pd.read_csv('../../data/developer_survey_2020/survey_results_public.csv', index_col='Respondent')
survey.head(20)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
9,I am a developer by profession,No,30.0,20,NaN,NaN,NaN,Tunisia,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
11,I am a developer by profession,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
12,I am a developer by profession,No,49.0,42,Monthly,1100.0,14268.0,Spain,European Euro,EUR,...,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
15,I am a student who is learning to code,Yes,NaN,13,NaN,NaN,NaN,France,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
19,I am a developer by profession,No,24.0,15,Yearly,83400.0,83400.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,35.0,9,3
20,I am a developer by profession,Yes,40.0,18,NaN,NaN,NaN,Spain,European Euro,EUR,...,Easy,Too short,No,"Another engineering discipline (such as civil,...",Spring,Angular.js;Spring,Just as welcome now as I felt last year,50.0,22,17

In [4]:
# loading a particular row using the index
survey.loc[1]

MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
Age                                                                           NaN
Age1stCode                                                                     13
CompFreq                                                                  Monthly
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                   Germany
CurrencyDesc                                                        European Euro
CurrencySymbol                                                                EUR
DatabaseDesireNextYear                                       Microsoft SQL Server
DatabaseWorkedWith                      Elasticsearch;Microsoft SQL Server;Oracle
DevType                         Developer, desktop or enterprise applications;...
EdLevel                           Master‚Äôs degree (M.A., M.S., M.Eng., MBA, etc.)
Employment                      Independent contractor, freelancer, or self-em...
Ethnicity                                            White or of European descent
Gender                                                                        Man
JobFactors                      Languages, frameworks, and other technologies ...
JobSat                                                         Slightly satisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                                     C#;HTML/CSS;JavaScript
LanguageWorkedWith                                         C#;HTML/CSS;JavaScript
MiscTechDesireNextYear                                          .NET Core;Xamarin
MiscTechWorkedWith                                                 .NET;.NET Core
NEWCollabToolsDesireNextYear               Microsoft Teams;Microsoft Azure;Trello
NEWCollabToolsWorkedWith             Confluence;Jira;Slack;Microsoft Azure;Trello
NEWDevOps                                                                      No
NEWDevOpsImpt                                                  Somewhat important
NEWEdImpt                                                        Fairly important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                  No
NEWOvertime                                      Often: 1-2 days per week or more
NEWPurchaseResearch             Start a free trial;Ask developers I know/work ...
NEWPurpleLink                                                              Amused
NEWSOSites                       Stack Overflow (public Q&A for anyone who codes)
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                     Windows
OrgSize                                                          2 to 9 employees
PlatformDesireNextYear             Android;iOS;Kubernetes;Microsoft Azure;Windows
PlatformWorkedWith                                                        Windows
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                      No
SOComm                                                             No, not at all
SOPartFreq                                                                    NaN
SOVisitFreq                                                Multiple times per day
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                               ASP.NET Core
WebframeWorkedWith                                           ASP.NET;ASP.NET Core
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                    50
YearsCode                                                                      36
YearsCodePro                                                                   27
Name: 1, dtype: object

In [5]:
# loading survey results 
schema = pd.read_csv('../../data/developer_survey_2020/survey_results_schema.csv', index_col='Column')
schema.sort_index(inplace=True)
schema

                                                         QuestionText
Column
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
CompFreq             Is that compensation weekly, monthly, or yearly?
CompTotal           What is your current total compensation (salar...
ConvertedComp       Salary converted to annual USD salaries using ...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]

In [6]:
# We can now search for columns directly
schema.loc['Age']

QuestionText    What is your age (in years)? If you prefer not...
Name: Age, dtype: object

In [7]:
schema.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [8]:
schema.loc['MiscTechDesireNextYear', 'QuestionText']

'Which other frameworks, libraries, and tools have you done extensive development work in over the past year, and which do you want to work in over the next year? (If you both worked with the framework and want to continue to do so, please check both boxes in that row.)'

In [9]:
schema.loc['ConvertedComp']

QuestionText    Salary converted to annual USD salaries using ...
Name: ConvertedComp, dtype: object

## Filtering Data

In [10]:
salary_mask = (survey['ConvertedComp'] > 70000)
salary_mask

Respondent
1        False
2        False
3        False
4        False
5        False
         ...
64858    False
64867    False
64898    False
64925    False
65112    False
Name: ConvertedComp, Length: 64461, dtype: bool

In [11]:
survey.loc[salary_mask]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
19,I am a developer by profession,No,24.0,15,Yearly,83400.0,83400.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,35.0,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65586,I am a developer by profession,Yes,NaN,8,Yearly,225000.0,225000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,Mathematics or statistics,NaN,NaN,NaN,50.0,25,15
65589,I am a developer by profession,Yes,NaN,16,Yearly,150000.0,150000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,45.0,10,6
65602,"I am not primarily a developer, but I write co...",Yes,NaN,13,Yearly,140000.0,140000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,15,12
65604,I am a developer by profession,No,NaN,13,Weekly,3000.0,150000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,45.0,7,4
65617,I am a developer by profession,Yes,NaN,15,Yearly,120000.0,129718.0,Germany,European Euro,EUR,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,35.0,9,9

In [12]:
# grabbing only a few columns for this data
survey.loc[salary_mask, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
8,United States,Python;SQL,116000.0
16,United Kingdom,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,108576.0
17,United States,C#;HTML/CSS;JavaScript;Python;SQL;VBA,79000.0
18,United States,Bash/Shell/PowerShell;HTML/CSS;Perl,1260000.0
19,United States,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,83400.0
...,...,...,...
65586,United States,NaN,225000.0
65589,United States,NaN,150000.0
65602,United States,NaN,140000.0
65604,United States,NaN,150000.0
65617,Germany,NaN,129718.0

In [13]:
# filtering by countries
countries = ('United States', 'India', 'United Kingdom', 'Germany', 'Canada')
countries

('United States', 'India', 'United Kingdom', 'Germany', 'Canada')

In [14]:
country_filter = survey['Country'].isin(countries)
country_filter

Respondent
1         True
2         True
3        False
4        False
5         True
         ...
64858     True
64867    False
64898    False
64925    False
65112    False
Name: Country, Length: 64461, dtype: bool

In [15]:
# respondents who belong to these countries and also have high salaries
survey.loc[country_filter & salary_mask, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
8,United States,Python;SQL,116000.0
16,United Kingdom,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,108576.0
17,United States,C#;HTML/CSS;JavaScript;Python;SQL;VBA,79000.0
18,United States,Bash/Shell/PowerShell;HTML/CSS;Perl,1260000.0
19,United States,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,83400.0
...,...,...,...
65586,United States,NaN,225000.0
65589,United States,NaN,150000.0
65602,United States,NaN,140000.0
65604,United States,NaN,150000.0
65617,Germany,NaN,129718.0

## People That answered they knew Python

In [16]:
survey['LanguageWorkedWith']

Respondent
1                                   C#;HTML/CSS;JavaScript
2                                         JavaScript;Swift
3                                 Objective-C;Python;Swift
4                                                      NaN
5                                        HTML/CSS;Ruby;SQL
                               ...
64858                                                  NaN
64867    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
64898                                                  NaN
64925                                             HTML/CSS
65112                      C#;HTML/CSS;Java;JavaScript;SQL
Name: LanguageWorkedWith, Length: 64461, dtype: object

In [18]:
python_filter = survey['LanguageWorkedWith'].str.contains('Python', na=False)
python_filter

Respondent
1        False
2        False
3         True
4        False
5        False
         ...
64858    False
64867     True
64898    False
64925    False
65112    False
Name: LanguageWorkedWith, Length: 64461, dtype: bool

In [19]:
survey.loc[python_filter, ['LanguageWorkedWith']]

                                           LanguageWorkedWith
Respondent
3                                    Objective-C;Python;Swift
8                                                  Python;SQL
10                        HTML/CSS;Java;JavaScript;Python;SQL
13                                        C;JavaScript;Python
15           Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
...                                                       ...
61561       Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
62391          C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript
63077                 C++;HTML/CSS;Java;JavaScript;Python;SQL
63640       Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
64867       Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...

[25287 rows x 1 columns]

In [20]:
# Renaming the ConvertedComp Column
survey.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)
survey.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'SalaryUSD', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [21]:
survey['SalaryUSD']

Respondent
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
         ..
64858   NaN
64867   NaN
64898   NaN
64925   NaN
65112   NaN
Name: SalaryUSD, Length: 64461, dtype: float64

In [22]:
survey['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4        Yes
5        Yes
        ...
64858    Yes
64867    Yes
64898    Yes
64925    Yes
65112    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [23]:
# mapping values to boolean
survey['Hobbyist'].map({
    'Yes': True,
    'No': False
})

Respondent
1         True
2        False
3         True
4         True
5         True
         ...
64858     True
64867     True
64898     True
64925     True
65112     True
Name: Hobbyist, Length: 64461, dtype: object

In [24]:
survey['Hobbyist'] = survey['Hobbyist'].map({
    'Yes': True,
    'No': False
})
survey

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,True,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,False,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,True,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,True,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",True,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,True,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,True,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,True,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,True,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,True,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

## Sorting Data

In [25]:
# sorting by Counry name
survey.sort_values(by='Country', inplace=True)
survey

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
8631,I am a student who is learning to code,False,NaN,19,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Spring,Angular.js,Somewhat more welcome now than last year,NaN,3,NaN
25001,I am a developer by profession,False,NaN,Younger than 5 years,Weekly,NaN,NaN,Afghanistan,United Arab Emirates dirham,AED,...,Easy,Too short,Yes,NaN,NaN,Angular,A lot less welcome now than last year,NaN,Less than 1 year,Less than 1 year
58171,I am a student who is learning to code,True,23.0,18,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Easy,Appropriate in length,NaN,NaN,ASP.NET;Spring,Laravel;Spring,A lot more welcome now than last year,NaN,5,NaN
42668,I am a developer by profession,True,NaN,NaN,NaN,NaN,NaN,Afghanistan,Afghan afghani,AFN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51509,I am a developer by profession,False,28.0,19,Monthly,130000.0,20220.0,Afghanistan,Afghan afghani,AFN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Express,Angular,Just as welcome now as I felt last year,40.0,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60055,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61121,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61570,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61918,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62605,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
survey['Country'].head(100)

Respondent
8631     Afghanistan
25001    Afghanistan
58171    Afghanistan
42668    Afghanistan
51509    Afghanistan
            ...
17708        Albania
9420         Albania
21952        Albania
28900        Albania
44370        Albania
Name: Country, Length: 100, dtype: object

In [26]:
survey['Country'].tail(20)

Respondent
44891    NaN
46810    NaN
51650    NaN
51958    NaN
53347    NaN
54379    NaN
54654    NaN
55156    NaN
55162    NaN
55314    NaN
55417    NaN
56415    NaN
57583    NaN
58915    NaN
59962    NaN
60055    NaN
61121    NaN
61570    NaN
61918    NaN
62605    NaN
Name: Country, dtype: object

In [28]:
survey[['Country', 'SalaryUSD']]

                Country  SalaryUSD
Respondent
8631        Afghanistan        NaN
25001       Afghanistan        NaN
58171       Afghanistan        NaN
42668       Afghanistan        NaN
51509       Afghanistan    20220.0
...                 ...        ...
60055               NaN        NaN
61121               NaN        NaN
61570               NaN        NaN
61918               NaN        NaN
62605               NaN        NaN

[64461 rows x 2 columns]

In [29]:
survey.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False], inplace=True)

In [30]:
survey[['Country', 'SalaryUSD']]

                Country  SalaryUSD
Respondent
65381       Afghanistan  1000000.0
65456       Afghanistan  1000000.0
62788       Afghanistan  1000000.0
38672       Afghanistan   231192.0
28374       Afghanistan   130000.0
...                 ...        ...
60055               NaN        NaN
61121               NaN        NaN
61570               NaN        NaN
61918               NaN        NaN
62605               NaN        NaN

[64461 rows x 2 columns]

In [31]:
# 10 largest salaries
survey['SalaryUSD'].nlargest(10)

Respondent
54263    2000000.0
5725     2000000.0
43430    2000000.0
59279    2000000.0
46711    2000000.0
1793     2000000.0
3072     2000000.0
3045     2000000.0
1413     2000000.0
3261     2000000.0
Name: SalaryUSD, dtype: float64

In [32]:
survey.nlargest(10, 'SalaryUSD')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
54263,I am a developer by profession,True,29.0,10,Weekly,7.000000e+04,2000000.0,Canada,United States dollar,USD,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,Express;Flask;jQuery,Just as welcome now as I felt last year,36.0,14,5
5725,I am a developer by profession,False,26.0,14,Monthly,1.800000e+05,2000000.0,Canada,United States dollar,USD,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Gatsby,Spring,Not applicable - I did not use Stack Overflow ...,40.0,10,4
43430,I am a developer by profession,True,33.0,17,Monthly,1.710000e+05,2000000.0,Italy,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,2
59279,I am a developer by profession,True,NaN,12,Monthly,3.000000e+05,2000000.0,Nepal,United States dollar,USD,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Django;Drupal;Flask;Gatsby;Laravel,Angular;Angular.js;ASP.NET;ASP.NET Core;Expres...,A lot more welcome now than last year,40.0,20,14
46711,I am a developer by profession,True,NaN,Younger than 5 years,Yearly,1.000000e+56,2000000.0,Nomadic,United States dollar,USD,...,NaN,NaN,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,168.0,More than 50 years,More than 50 years
1793,I am a developer by profession,True,27.0,16,Weekly,1.200000e+05,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,12,NaN
3072,I am a developer by profession,True,32.0,22,Weekly,1.020000e+05,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Flask,ASP.NET Core,Somewhat less welcome now than last year,40.0,10,7
3045,I am a developer by profession,True,35.0,12,Weekly,1.000000e+05,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Just as welcome now as I felt last year,42.0,23,5
1413,I am a developer by profession,True,25.0,12,Weekly,4.100000e+04,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery;Laravel,jQuery,Just as welcome now as I felt last year,37.0,13,3
3261,I am a developer by profession,True,34.0,23,Weekly,1.150000e+05,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;jQuery;Spring,Spring,Just as welcome now as I felt last year,60.0,11,9

In [33]:
survey.nsmallest(10, 'SalaryUSD')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
35295,I am a developer by profession,True,NaN,13,Monthly,2.0,0.0,Afghanistan,Afghan afghani,AFN,...,Neither easy nor difficult,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,jQuery,A lot less welcome now than last year,100.0,35,27
47357,I am a developer by profession,True,NaN,5,Weekly,1.0,0.0,Albania,Bhutanese ngultrum,BTN,...,NaN,NaN,NaN,NaN,Drupal,NaN,Somewhat less welcome now than last year,168.0,2,11
27135,I am a developer by profession,False,NaN,16,Yearly,0.0,0.0,Australia,Australian dollar,AUD,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",Angular.js;Django;jQuery;React.js;Vue.js,Django;jQuery;React.js,Just as welcome now as I felt last year,80.0,15,15
6054,I am a developer by profession,True,38.0,15,Yearly,0.0,0.0,Australia,Australian dollar,AUD,...,Easy,Too long,No,NaN,NaN,Laravel,A lot less welcome now than last year,30.0,22,20
60292,I am a developer by profession,True,NaN,12,Yearly,0.0,0.0,Austria,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,18,10
38813,I am a developer by profession,False,NaN,18,Monthly,0.0,0.0,Azerbaijan,Azerbaijan manat,AZN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,4,3
8470,I am a developer by profession,True,NaN,5,Monthly,30.0,0.0,Bangladesh,Bangladeshi taka,BDT,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;Laravel;React.js;Vue.js,Django;Express;Gatsby;Laravel;React.js;Vue.js,NaN,NaN,4,2
41006,I am a developer by profession,True,22.0,17,Yearly,0.0,0.0,Belgium,Pound sterling,GBP,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",NaN,Angular;ASP.NET Core;React.js;Spring,Just as welcome now as I felt last year,30.0,4,3
15493,I am a developer by profession,False,44.0,17,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,4
57369,I am a developer by profession,False,44.0,18,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,...,Easy,Too long,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,5

## Grouping and Data Aggregation

In [34]:
survey['SalaryUSD'].head(30)

Respondent
65381    1000000.0
65456    1000000.0
62788    1000000.0
38672     231192.0
28374     130000.0
63848      23328.0
9839       23328.0
51862      20950.0
51509      20220.0
44484      18660.0
15422      18000.0
2932       16335.0
26540      13992.0
57269      10884.0
26775       8016.0
30568       5448.0
30522       4668.0
28811       4509.0
34969       4356.0
26857       2328.0
33878       1860.0
35753        780.0
18049        109.0
35295          0.0
8631           NaN
25001          NaN
58171          NaN
42668          NaN
37951          NaN
7616           NaN
Name: SalaryUSD, dtype: float64

In [35]:
# computing the median salary
survey['SalaryUSD'].median()

54049.0

In [36]:
# median of all columns
survey.median()

Hobbyist           1.0
Age               29.0
CompTotal      63000.0
SalaryUSD      54049.0
WorkWeekHrs       40.0
dtype: float64

In [37]:
survey.mode()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,I am a developer by profession,True,25.0,15,Yearly,100000.0,120000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,jQuery,Just as welcome now as I felt last year,40.0,10,3

In [38]:
# Broad overview of data
survey.describe()

                Age      CompTotal     SalaryUSD   WorkWeekHrs
count  45446.000000   3.482600e+04  3.475600e+04  41151.000000
mean      30.834111  3.190464e+242  1.037561e+05     40.782174
std        9.585392            inf  2.268853e+05     17.816383
min        1.000000   0.000000e+00  0.000000e+00      1.000000
25%       24.000000   2.000000e+04  2.464800e+04     40.000000
50%       29.000000   6.300000e+04  5.404900e+04     40.000000
75%       35.000000   1.250000e+05  9.500000e+04     44.000000
max      279.000000  1.111111e+247  2.000000e+06    475.000000

In [39]:
# number of rows with no NaN data
survey['SalaryUSD'].count()

34756

In [40]:
survey.count()

MainBranch                      64162
Hobbyist                        64416
Age                             45446
Age1stCode                      57900
CompFreq                        40069
CompTotal                       34826
SalaryUSD                       34756
Country                         64072
CurrencyDesc                    45472
CurrencySymbol                  45472
DatabaseDesireNextYear          44070
DatabaseWorkedWith              49537
DevType                         49370
EdLevel                         57431
Employment                      63854
Ethnicity                       45948
Gender                          50557
JobFactors                      49349
JobSat                          45194
JobSeek                         51727
LanguageDesireNextYear          54113
LanguageWorkedWith              57378
MiscTechDesireNextYear          42379
MiscTechWorkedWith              40314
NEWCollabToolsDesireNextYear    47287
NEWCollabToolsWorkedWith        52883
NEWDevOps                       42686
NEWDevOpsImpt                   41732
NEWEdImpt                       48465
NEWJobHunt                      42286
NEWJobHuntResearch              41022
NEWLearn                        56156
NEWOffTopic                     50804
NEWOnboardGood                  42623
NEWOtherComms                   57205
NEWOvertime                     43231
NEWPurchaseResearch             37321
NEWPurpleLink                   54803
NEWSOSites                      58275
NEWStuck                        54983
OpSys                           56228
OrgSize                         44334
PlatformDesireNextYear          50605
PlatformWorkedWith              53843
PurchaseWhat                    39364
Sexuality                       43992
SOAccount                       56805
SOComm                          56476
SOPartFreq                      46792
SOVisitFreq                     56970
SurveyEase                      51802
SurveyLength                    51701
Trans                           49345
UndergradMajor                  50995
WebframeDesireNextYear          40024
WebframeWorkedWith              42279
WelcomeChange                   52683
WorkWeekHrs                     41151
YearsCode                       57684
YearsCodePro                    46349
dtype: int64

In [41]:
survey.shape

(64461, 60)

In [42]:
survey['Hobbyist']

Respondent
65381    False
65456     True
62788     True
38672    False
28374     True
         ...
60055    False
61121     True
61570    False
61918     True
62605    False
Name: Hobbyist, Length: 64461, dtype: object

In [43]:
survey['Hobbyist'].value_counts()

True     50388
False    14028
Name: Hobbyist, dtype: int64

In [44]:
survey['Gender'].value_counts()

Man                                                            46013
Woman                                                           3844
Non-binary, genderqueer, or gender non-conforming                385
Man;Non-binary, genderqueer, or gender non-conforming            121
Woman;Non-binary, genderqueer, or gender non-conforming           92
Woman;Man                                                         76
Woman;Man;Non-binary, genderqueer, or gender non-conforming       26
Name: Gender, dtype: int64

In [45]:
survey['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering                   31582
Another engineering discipline (such as civil, electrical, mechanical, etc.)       4754
Information systems, information technology, or system administration              4071
A natural science (such as biology, chemistry, physics, etc.)                      2205
Mathematics or statistics                                                          1849
Web development or web design                                                      1789
A business discipline (such as accounting, finance, marketing, etc.)               1375
A humanities discipline (such as literature, history, philosophy, etc.)            1007
A social science (such as anthropology, psychology, political science, etc.)        933
Fine arts or performing arts (such as graphic design, music, studio art, etc.)      725
I never declared a major                                                            453
A health science (such as nursing, pharmacy, radiology, etc.)                       252
Name: UndergradMajor, dtype: int64

In [46]:
survey['UndergradMajor'].value_counts(normalize=True)

Computer science, computer engineering, or software engineering                   0.619316
Another engineering discipline (such as civil, electrical, mechanical, etc.)      0.093225
Information systems, information technology, or system administration             0.079831
A natural science (such as biology, chemistry, physics, etc.)                     0.043240
Mathematics or statistics                                                         0.036258
Web development or web design                                                     0.035082
A business discipline (such as accounting, finance, marketing, etc.)              0.026963
A humanities discipline (such as literature, history, philosophy, etc.)           0.019747
A social science (such as anthropology, psychology, political science, etc.)      0.018296
Fine arts or performing arts (such as graphic design, music, studio art, etc.)    0.014217
I never declared a major                                                          0.008883
A health science (such as nursing, pharmacy, radiology, etc.)                     0.004942
Name: UndergradMajor, dtype: float64

In [47]:
survey['Country'].value_counts()

United States       12469
India                8403
United Kingdom       3896
Germany              3890
Canada               2191
                    ...
North Korea             1
Kiribati                1
Gabon                   1
Grenada                 1
Marshall Islands        1
Name: Country, Length: 183, dtype: int64

In [48]:
country_group = survey.groupby(['Country'])
country_group

In [49]:
country_group.get_group('United States')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1793,I am a developer by profession,True,27.0,16,Weekly,120000.0,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,12,NaN
3072,I am a developer by profession,True,32.0,22,Weekly,102000.0,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Flask,ASP.NET Core,Somewhat less welcome now than last year,40.0,10,7
3045,I am a developer by profession,True,35.0,12,Weekly,100000.0,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Just as welcome now as I felt last year,42.0,23,5
1413,I am a developer by profession,True,25.0,12,Weekly,41000.0,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery;Laravel,jQuery,Just as welcome now as I felt last year,37.0,13,3
3261,I am a developer by profession,True,34.0,23,Weekly,115000.0,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;jQuery;Spring,Spring,Just as welcome now as I felt last year,60.0,11,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53404,I am a developer by profession,True,NaN,5,NaN,NaN,NaN,United States,United States dollar,USD,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",Django;React.js,Django;jQuery,Just as welcome now as I felt last year,40.0,28,19
52375,"I am not primarily a developer, but I write co...",True,NaN,10,NaN,NaN,NaN,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"A natural science (such as biology, chemistry,...",NaN,NaN,Just as welcome now as I felt last year,35.0,15,5
53407,I am a developer by profession,True,31.0,12,NaN,NaN,NaN,United States,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask,NaN,Just as welcome now as I felt last year,NaN,15,NaN
52364,I am a student who is learning to code,True,23.0,12,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core;Express;jQuery;React.js,Angular;ASP.NET Core;Express,Just as welcome now as I felt last year,NaN,3,NaN
52389,I am a developer by profession,True,NaN,11,Weekly,NaN,NaN,United States,United States dollar,USD,...,Neither easy nor difficult,Too long,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,40.0,23,10

In [50]:
country_group.get_group('Switzerland')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
11681,I am a developer by profession,True,33.0,15,Monthly,96000.0,1000000.0,Switzerland,Swiss franc,CHF,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,42.5,18,12
11116,I am a developer by profession,True,34.0,11,Monthly,120000.0,1000000.0,Switzerland,Swiss franc,CHF,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Spring;Vue.js,Angular;Gatsby;Spring;Vue.js,Just as welcome now as I felt last year,55.0,23,11
954,"I am not primarily a developer, but I write co...",True,NaN,10,Monthly,120000.0,1000000.0,Switzerland,Swiss franc,CHF,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",Vue.js,NaN,Just as welcome now as I felt last year,NaN,20,10
19446,I am a developer by profession,True,32.0,18,Monthly,1250000.0,1000000.0,Switzerland,Swiss franc,CHF,...,Difficult,Appropriate in length,No,Mathematics or statistics,NaN,React.js,Not applicable - I did not use Stack Overflow ...,42.0,12,7
29255,I am a developer by profession,True,30.0,15,Monthly,105000.0,1000000.0,Switzerland,Swiss franc,CHF,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Spring,Angular;Spring,Just as welcome now as I felt last year,40.0,15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50644,I am a developer by profession,True,NaN,NaN,NaN,NaN,NaN,Switzerland,NaN,NaN,...,NaN,NaN,NaN,Web development or web design,NaN,NaN,NaN,NaN,NaN,NaN
36121,"I am not primarily a developer, but I write co...",True,36.0,18,Monthly,NaN,NaN,Switzerland,Swiss franc,CHF,...,Easy,Appropriate in length,No,"A humanities discipline (such as literature, h...",NaN,NaN,Somewhat less welcome now than last year,30.0,18,10
43957,I am a developer by profession,True,NaN,16,NaN,NaN,NaN,Switzerland,Swiss franc,CHF,...,NaN,NaN,NaN,Web development or web design,ASP.NET;ASP.NET Core,ASP.NET,NaN,36.0,9,5
33967,I am a developer by profession,False,34.0,16,NaN,NaN,NaN,Switzerland,Swiss franc,CHF,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Vue.js,Angular;ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,NaN,18,13
44648,I am a developer by profession,True,NaN,NaN,NaN,NaN,NaN,Switzerland,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat less welcome now than last year,NaN,NaN,NaN

In [51]:
country_group.get_group('Switzerland').value_counts('Gender')

Gender
Man                                                            499
Woman                                                           24
Non-binary, genderqueer, or gender non-conforming                4
Woman;Man;Non-binary, genderqueer, or gender non-conforming      1
dtype: int64

In [52]:
country_group.get_group('India').value_counts('Gender')

Gender
Man                                                            5002
Woman                                                           370
Woman;Man                                                        21
Non-binary, genderqueer, or gender non-conforming                12
Man;Non-binary, genderqueer, or gender non-conforming             5
Woman;Man;Non-binary, genderqueer, or gender non-conforming       4
Woman;Non-binary, genderqueer, or gender non-conforming           1
dtype: int64

In [53]:
country_group.get_group('United States').value_counts('WebframeWorkedWith')

WebframeWorkedWith
React.js                                            457
jQuery                                              388
Flask                                               250
Spring                                              192
Express;React.js                                    189
                                                   ...
Angular;Angular.js;Django;React.js;Vue.js             1
Angular;Angular.js;Django;React.js;Spring;Vue.js      1
Angular;Angular.js;Django;React.js;Spring             1
Angular;Angular.js;Django;React.js                    1
Angular;Angular.js;Django                             1
Length: 1409, dtype: int64

In [54]:
country_group.get_group('India').value_counts('WebframeWorkedWith')

WebframeWorkedWith
jQuery                                                       295
Spring                                                       205
React.js                                                     178
Django                                                       175
ASP.NET                                                      131
                                                            ...
Angular;Angular.js;Django;Spring                               1
Angular;Angular.js;Django;Laravel;Vue.js                       1
Angular;Angular.js;Django;Gatsby;jQuery;React.js               1
Angular;Angular.js;Django;Gatsby;Spring                        1
Angular;Angular.js;ASP.NET;Express;jQuery;React.js;Spring      1
Length: 985, dtype: int64

In [55]:
country_group.get_group('Germany').value_counts('WebframeWorkedWith')

WebframeWorkedWith
jQuery                                                  143
Spring                                                  123
React.js                                                109
Flask                                                    73
Angular                                                  64
                                                       ...
Angular;Drupal;jQuery;Laravel;React.js;Spring;Vue.js      1
Angular;Drupal;jQuery;Laravel;Symfony;Vue.js              1
Angular;Drupal;jQuery;React.js                            1
Angular;Express;Flask;React.js                            1
Angular;Django;Express;Gatsby;jQuery;React.js             1
Length: 634, dtype: int64

In [56]:
country_group.get_group('France').value_counts('WebframeWorkedWith')

WebframeWorkedWith
React.js                                           59
jQuery                                             58
Flask                                              35
Spring                                             35
Angular                                            30
                                                   ..
Angular;Express;jQuery;Laravel;React.js;Symfony     1
Angular;Express;jQuery;React.js                     1
Angular;Express;jQuery;React.js;Spring              1
Angular;Express;jQuery;Spring;Vue.js                1
Angular;Drupal;jQuery;React.js;Symfony;Vue.js       1
Length: 486, dtype: int64

In [57]:
# group functions
country_group['WebframeWorkedWith'].value_counts()

Country      WebframeWorkedWith
Afghanistan  Angular                   5
             jQuery                    5
             ASP.NET;jQuery;Laravel    3
             Laravel                   2
             jQuery;Laravel            2
                                      ..
Zimbabwe     Ruby on Rails             1
             Spring                    1
             Vue.js                    1
             jQuery;Laravel;Symfony    1
             jQuery;Laravel;Vue.js     1
Name: WebframeWorkedWith, Length: 15777, dtype: int64

In [60]:
import numpy as np
x = np.array([1, 2, 3, 4])
x

array([1, 2, 3, 4])

In [61]:
np.linalg.norm(x) 
# sqrt(1 + 4 + 9 + 16)

5.477225575051661

In [62]:
np.sqrt(1 + 4 + 9 + 16)

5.477225575051661

In [58]:
country_group['WebframeWorkedWith'].value_counts(normalize=True)['India'] * 100

WebframeWorkedWith
jQuery                                         5.853175
Spring                                         4.067460
React.js                                       3.531746
Django                                         3.472222
ASP.NET                                        2.599206
                                                 ...
jQuery;React.js;Ruby on Rails;Spring           0.019841
jQuery;React.js;Ruby on Rails;Spring;Vue.js    0.019841
jQuery;React.js;Ruby on Rails;Vue.js           0.019841
jQuery;Ruby on Rails;Spring                    0.019841
jQuery;Spring;Symfony                          0.019841
Name: WebframeWorkedWith, Length: 985, dtype: float64

In [63]:
# Having a look at salary
country_group['SalaryUSD'].median()

Country
Afghanistan                             15163.5
Albania                                 15900.0
Algeria                                  9432.0
Andorra                                 88640.0
Angola                                   5292.0
                                         ...
Venezuela, Bolivarian Republic of...     3600.0
Viet Nam                                10344.0
Yemen                                   36000.0
Zambia                                   5452.0
Zimbabwe                                 7200.0
Name: SalaryUSD, Length: 183, dtype: float64

In [64]:
country_group['SalaryUSD'].median()['Germany']

62697.0

In [65]:
# Having a look at salary
country_group['SalaryUSD'].median()['India']

10056.0

In [66]:
# Having a look at salary
country_group['SalaryUSD'].median()['United States']

115000.0

In [67]:
# Having a look at salary
country_group['SalaryUSD'].median()['Switzerland']

98599.0

## Applying Multiple Aggregate Functions

In [69]:
country_group['SalaryUSD'].agg(['median', 'mean'])

                                       median           mean
Country
Afghanistan                           15163.5  148290.125000
Albania                               15900.0   25611.000000
Algeria                                9432.0   10362.812500
Andorra                               88640.0   88640.000000
Angola                                 5292.0    5292.000000
...                                       ...            ...
Venezuela, Bolivarian Republic of...   3600.0    6280.611111
Viet Nam                              10344.0   28342.605769
Yemen                                 36000.0   36000.000000
Zambia                                 5452.0   17506.400000
Zimbabwe                               7200.0   26338.181818

[183 rows x 2 columns]

In [68]:
country_group['SalaryUSD'].agg(['median', 'mean']).loc['Canada']

median     68068.000000
mean      115101.775465
Name: Canada, dtype: float64

## How many people in a country know Python?

In [69]:
python_filter = survey['LanguageWorkedWith'].str.contains('Python', na=False)
python_filter

Respondent
65381    False
65456    False
62788    False
38672    False
28374    False
         ...
60055    False
61121    False
61570    False
61918    False
62605    False
Name: LanguageWorkedWith, Length: 64461, dtype: bool

In [70]:
# number of people who claim to know python
python_filter.sum()

25287

In [71]:
country_group.get_group('India')[python_filter]['LanguageWorkedWith'].count()

c:\users\anish\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

2670

In [123]:
# the follwoing will give an error
# country_group['LanguageWorkedWith'].str.contains('Python')

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [72]:
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [73]:
# total number of python user
total_python_users = country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()).sum()
total_python_users

25287

In [74]:
100 * country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()) / total_python_users

Country
Afghanistan                             0.043501
Albania                                 0.051410
Algeria                                 0.158184
Andorra                                 0.011864
Angola                                  0.003955
                                          ...
Venezuela, Bolivarian Republic of...    0.114683
Viet Nam                                0.403369
Yemen                                   0.003955
Zambia                                  0.015818
Zimbabwe                                0.051410
Name: LanguageWorkedWith, Length: 183, dtype: float64

In [75]:
# Percentage of people in each country who know python
country_population = survey['Country'].value_counts()
country_population

United States       12469
India                8403
United Kingdom       3896
Germany              3890
Canada               2191
                    ...
North Korea             1
Kiribati                1
Gabon                   1
Grenada                 1
Marshall Islands        1
Name: Country, Length: 183, dtype: int64

In [76]:
python_users = country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
python_users

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [77]:
python_users_per_country = 100 * python_users / country_population
python_users_per_country

Afghanistan                             13.095238
Albania                                 24.074074
Algeria                                 42.553191
Andorra                                 23.076923
Angola                                  11.111111
                                          ...
Venezuela, Bolivarian Republic of...    41.428571
Viet Nam                                28.021978
Yemen                                   14.285714
Zambia                                  19.047619
Zimbabwe                                41.935484
Length: 183, dtype: float64

In [78]:
python_users_per_country['India']

31.774366297750802

In [79]:
python_users_per_country['United States']

47.830619937444865

In [80]:
python_users_per_country['Germany']

44.01028277634961

In [81]:
python_users_per_country['Switzerland']

44.19713831478538

In [82]:
python_users_per_country.nlargest(10)

Gabon                                 100.000000
Micronesia, Federated States of...    100.000000
Saint Lucia                           100.000000
Montenegro                             69.230769
Brunei Darussalam                      66.666667
Guyana                                 60.000000
Swaziland                              57.142857
Iceland                                52.830189
Finland                                52.435530
Uganda                                 51.851852
dtype: float64

In [83]:
country_population['Gabon']

1

## Creating a New Table Using Concatenation

In [84]:
python = pd.concat([country_population, python_users], axis='columns', sort=False)
python

                  Country  LanguageWorkedWith
United States       12469                5964
India                8403                2670
United Kingdom       3896                1621
Germany              3890                1712
Canada               2191                1011
...                   ...                 ...
North Korea             1                   0
Kiribati                1                   0
Gabon                   1                   1
Grenada                 1                   0
Marshall Islands        1                   0

[183 rows x 2 columns]

In [85]:
python.columns = ['population', 'python_users']
python

                  population  python_users
United States          12469          5964
India                   8403          2670
United Kingdom          3896          1621
Germany                 3890          1712
Canada                  2191          1011
...                      ...           ...
North Korea                1             0
Kiribati                   1             0
Gabon                      1             1
Grenada                    1             0
Marshall Islands           1             0

[183 rows x 2 columns]

In [86]:
python['percentage_python'] = 100 * python['python_users'] / python['population']
python

                  population  python_users  percentage_python
United States          12469          5964          47.830620
India                   8403          2670          31.774366
United Kingdom          3896          1621          41.606776
Germany                 3890          1712          44.010283
Canada                  2191          1011          46.143314
...                      ...           ...                ...
North Korea                1             0           0.000000
Kiribati                   1             0           0.000000
Gabon                      1             1         100.000000
Grenada                    1             0           0.000000
Marshall Islands           1             0           0.000000

[183 rows x 3 columns]

In [87]:
# sorting on basis of python knowledge
python.sort_values(by='percentage_python', ascending=False)

,population,python_users,percentage_python
Saint Lucia,1,1,100.000000
"Micronesia, Federated States of...",1,1,100.000000
Gabon,1,1,100.000000
Montenegro,13,9,69.230769
Brunei Darussalam,3,2,66.666667
...,...,...,...
San Marino,2,0,0.000000
Burundi,2,0,0.000000
Antigua and Barbuda,2,0,0.000000
Monaco,2,0,0.000000
Marshall Islands,1,0,0.000000

In [88]:
python.loc['Japan']

population           297.000000
python_users         132.000000
percentage_python     44.444444
Name: Japan, dtype: float64